@using System.Runtime.InteropServices.JavaScript
@rendermode InteractiveServer
@using System.ComponentModel.DataAnnotations
@using Microsoft.EntityFrameworkCore;
@inject AppDbContext Db

<EditForm class="task-form" Model="task" OnValidSubmit="SaveTask" >
    
    <DataAnnotationsValidator />
    
    <InputText @bind-Value="task.Name" placeholder="@TaskNamePlaceholder" class="form-control"/>
    <ValidationMessage For="@(() => task.Name)" />
    
    <InputTextArea @bind-Value="task.Description" placeholder="@TaskDescriptionPlaceholder" class="form-control"/>
    <ValidationMessage For="@(() => task.Description)" />
    
    <InputDate @bind-Value="task.Date" class="form-control"/>
    <ValidationMessage For="@(() => task.Date)" />
    <button type="submit" class="btn btn-primary">@(IsEdit ? "Сохранить" : "Добавить")</button>
</EditForm>

@code {
    [Parameter, EditorRequired]
    public TaskItem task { get; set; } = new();
    
    [Parameter] 
    public EventCallback OnSaved { get; set; }

    [Parameter] public string TaskNamePlaceholder { get; set; } = "Название задачи";
    [Parameter] public string TaskDescriptionPlaceholder { get; set; } = "Опсиние задачи";
    [Parameter] public DateTime TaskDate { get; set; }
    
    private bool IsEdit => task.Id != 0;
    private async Task SaveTask()
    {
        await OnSaved.InvokeAsync();
    }
    
    
}