@page "/tasks/{Date:datetime}"
@inject AppDbContext Db
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer

<h2>Задачи на @Date.ToShortDateString()</h2>

@if (tasks == null)
{
    <p>Loading...</p>
}
else if (!tasks.Any())
{
    <p>Нет задач на этот день</p>
}
else
{
    @foreach (var task in tasks)
    {
        <div class="task-card @(task.IsCompleted == true ? "completed" : "")">

            <input type="checkbox"
                   checked="@task.IsCompleted"
                   @onchange="async () => await ToggleTask(task)"/>

            <div class="task-content" @onclick="() => OpenModal(task)">
                <div class="task-title">@task.Name</div>
                <div class="task-desc">@task.Description</div>
                <div class="task-date">@task.Date.ToShortDateString()</div>
            </div>

        </div>
    }

    @if (isOpen && selectedTask != null)
    {
        <div class="modal-backdrop" @onclick="CloseModal">

            <div class="modal-content" @onclick:stopPropagation="true">

                <button class="close-btn" @onclick="CloseModal">×</button>

                <h3 class="modal-title">@selectedTask.Name</h3>

                <div class="modal-status">
                    <span class="status-badge @(selectedTask.IsCompleted ? "completed" : "pending")">
                        @(selectedTask.IsCompleted ? "Выполнено" : "В процессе")
                    </span>
                    <span class="modal-date">@selectedTask.Date.ToShortDateString()</span>
                </div>
                @if (isEditing)
                {
                    <TaskForm Task="selectedTask" OnSaved="UpdateTask" TaskNamePlaceholder="@selectedTask.Name" TaskDescriptionPlaceholder="@selectedTask.Description" TaskDate="@selectedTask.Date"/>
                }
                else
                {
                    <p class="modal-desc">
                        @(string.IsNullOrWhiteSpace(selectedTask.Description) ? "Нет описания." : selectedTask.Description)
                    </p>
                    <button @onclick="() => isEditing = true" class="edit-btn">Редактировать</button>
                }
            </div>
        </div>
    }
}

@code {
   
    [Parameter] 
    public DateTime Date { get; set; }

    private List<TaskItem> tasks;
    private bool isOpen = false;
    private TaskItem selectedTask = null;
    private bool isEditing = false;
    

    protected override async Task OnInitializedAsync()
    {
        await LoadTask();
    }

    private async Task LoadTask()
    {
        tasks = await Db.Tasks
            .Where(date => date.Date.Date == Date.Date)
            .ToListAsync();
    }
    private async Task ToggleTask(TaskItem task)
    {
        task.IsCompleted = !task.IsCompleted;
        await Db.SaveChangesAsync();
    }
    

    private void OpenModal(TaskItem task)
    {
        selectedTask = task;
        isOpen = true;
        isEditing = false;
    }

    private void CloseModal()
    {
        isOpen = false;
        selectedTask = null;
        isEditing = false;
    }
    private async Task UpdateTask()
    {
        Db.Update(selectedTask);
        await Db.SaveChangesAsync();

        isOpen = false;
        isEditing = false;

        await LoadTask();
    }
}